@model IEnumerable<WEBApplikation.Models.Sensor>

@{
    ViewData["Title"] = "All";
}

<h1>Alle sensorer</h1>

<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
<div class="list-bg">
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Species)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lontitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorId)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lontitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorId)
            </td>
        </tr>
    }
    </tbody>
</table>
</div>